<div class="grid grid-cols-12 gap-4">
    <div class="col-span-9" style="height:40vh;">
        <div class="card h-full flex flex-col">
            <div class="flex justify-center w-3 mb-5">
                <p-select
                    [options]="periodos"
                    [(ngModel)]="selectedPeriodo"
                    optionLabel="label"
                    optionValue="code"
                    (onChange)="onPeriodChange($event.value)"
                    placeholder="Selecciona un periodo"
                    class="w-full md:w-56"
                >
                    <ng-template #selectedItem let-selectedPeriodo>
                        <div class="flex items-center gap-2" *ngIf="selectedPeriodo">
                            <div>{{ selectedPeriodo.label }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-periodos #item>
                        <div
                            class="flex items-center justify-center w-full">{{ periodos.label }}
                        </div>
                    </ng-template>
                </p-select>
            </div>
            <div class="flex-1 relative overflow-hidden">
                <p-chart
                    type="bar"
                    [data]="barData"
                    [options]="barOptions"
                    height="14rem"
                    responsive="true"
                    class="-mb-1"
                ></p-chart>
            </div>
        </div>
    </div>
    <div class="col-span-3" style="height:40vh;"> <!-- Div 2 -->
        <div class="card pr-3 h-full flex flex-col">
            <p class="text-2xl font-bold">Notificaciones</p>
            <ul class="p-0 m-0 list-none flex-1 overflow-y-auto space-y-3">
                <li *ngFor="let alerta of notifications" class="flex items-center py-2 border-b border-surface">
                    <!-- círculo redondo con icono -->
                    <div
                        class="h-12 flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-full mr-2 shrink-0"
                        style="width: 30px; height: 30px"
                    >
                        <i class="pi pi-exclamation-triangle text-blue-500"></i>
                    </div>
                    <span class="text-surface-900 dark:text-surface-0 leading-normal">
                        {{ alerta.descripcion }}
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-span-12" style="height:46vh;">
        <div class="card h-full">
            <div class="flex flex-row justify-between">
                <div>
                    <p class="text-2xl font-bold">Alumnos</p>
                </div>
                <div class="flex flex-row w-3 gap-3">
                    <span class="p-input-icon-right w-full">
                        <input
                            type="text"
                            pInputText
                            placeholder="Buscar por nombre, grado, grupo, etc"
                            class="w-full border-round-2xl"
                            (input)="onGlobalFilter(dt1, $event)"
                        />
                    </span>
                </div>
            </div>
            <div class="mt-5">
                <p-table #dt1
                         [value]="asistenciasFiltradas"
                         selectionMode="single"
                         [(selection)]="asistenciaResponse"
                         dataKey="idRegistroAsistencia"
                         [globalFilterFields]="[
                         'alumno',
                         'correo',
                         'grado',
                         'grupo',
                         'tipoAcceso',
                         'hora',
                         'tipoRegistro'
                         ]"
                         (onRowSelect)="onRowSelect($event)"
                         [scrollable]="true"
                         scrollHeight="220px"
                         [tableStyle]="{ 'width': '100%' }">
                    <ng-template pTemplate="header">
                        <tr>
                            <th id="alumno" pSortableColumn="alumno">
                                Nombre completo
                                <p-sortIcon field="alumno"></p-sortIcon>
                            </th>
                            <th id="correo" pSortableColumn="correo">
                                Correo
                                <p-sortIcon field="correo"></p-sortIcon>
                            </th>
                            <th id="grado" pSortableColumn="grado">
                                Grado
                                <p-sortIcon field="grado"></p-sortIcon>
                            </th>
                            <th id="grupo" pSortableColumn="grupo">
                                Grupo
                                <p-sortIcon field="grupo"></p-sortIcon>
                            </th>
                            <th id="tipoAcceso" pSortableColumn="tipoAcceso">
                                Acceso
                                <p-sortIcon field="tipoAcceso"></p-sortIcon>
                            </th>
                            <th id="fecha" pSortableColumn="fecha">
                                Fecha
                                <p-sortIcon field="fecha"></p-sortIcon>

                                <!-- Filtro de fecha -->
                                <p-columnFilter
                                    type="date"
                                    field="fecha"
                                    display="menu"
                                    [showOperator]="false"
                                    placeholder="Filtrar…">

                                </p-columnFilter>
                            </th>
                            <th id="hora" pSortableColumn="hora">
                                Hora
                                <p-sortIcon field="hora"></p-sortIcon>
                            </th>
                            <th id="tipoRegistro" pSortableColumn="tipoRegistro">
                                Tipo de Registro
                                <p-sortIcon field="tipoRegistro"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-asistencia>
                        <tr [pSelectableRow]="asistencia">
                            <td>{{ asistencia.alumno }}</td>
                            <td>{{ asistencia.correo }}</td>
                            <td>{{ asistencia.grado }}</td>
                            <td>{{ asistencia.grupo }}</td>
                            <td>{{ asistencia.tipoAcceso }}</td>
                            <td>{{ asistencia.formatDate(asistencia.fecha) }}</td>
                            <td>{{ asistencia.hora }}</td>
                            <td>{{ asistencia.tipoRegistro }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>


