<div class="flex flex-column w-full">
    <div
        class="flex justify-content-between w-full"
        style="background-color: #23456E; height: 10vh;">
        <div class="flex align-items-center justify-content-center">
            <img
                src="https://sparkling-pie-8c4bb4.netlify.app/escudoSecundaria.png"
                alt="Escudo Secundaria"
            />
        </div>
        <div class="flex align-items-center justify-content-center">
            <img
                src="https://sparkling-pie-8c4bb4.netlify.app/escudoSecundaria.png"
                alt="Escudo Secundaria"
            />
        </div>
    </div>
</div>
